<div>
    <h2 id="page-heading">
        <span jhiTranslate="improApp.nation.home.title">Nations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nation" [routerLink]="['/nation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="improApp.nation.home.createLabel">
            Create a new Nation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="nations?.length === 0">
        <span jhiTranslate="improApp.nation.home.notFound">No nations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="nations && nations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iso"><span jhiTranslate="improApp.nation.iso">Iso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="improApp.nation.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nicename"><span jhiTranslate="improApp.nation.nicename">Nicename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iso3"><span jhiTranslate="improApp.nation.iso3">Iso 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numcode"><span jhiTranslate="improApp.nation.numcode">Numcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phonecode"><span jhiTranslate="improApp.nation.phonecode">Phonecode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nation of nations ;trackBy: trackId">
                    <td><a [routerLink]="['/nation', nation.id, 'view']">{{ nation.id }}</a></td>
                    <td>{{ nation.iso }}</td>
                    <td>{{ nation.name }}</td>
                    <td>{{ nation.nicename }}</td>
                    <td>{{ nation.iso3 }}</td>
                    <td>{{ nation.numcode }}</td>
                    <td>{{ nation.phonecode }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/nation', nation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/nation', nation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(nation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="nations && nations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
