<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nation-heading" jhiTranslate="improApp.nation.home.createOrEditLabel">Create or edit a Nation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.iso" for="field_iso">Iso</label>
                    <input type="text" class="form-control" name="iso" id="field_iso"
                           formControlName="iso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.nicename" for="field_nicename">Nicename</label>
                    <input type="text" class="form-control" name="nicename" id="field_nicename"
                           formControlName="nicename"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.iso3" for="field_iso3">Iso 3</label>
                    <input type="text" class="form-control" name="iso3" id="field_iso3"
                           formControlName="iso3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.numcode" for="field_numcode">Numcode</label>
                    <input type="number" class="form-control" name="numcode" id="field_numcode"
                           formControlName="numcode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.nation.phonecode" for="field_phonecode">Phonecode</label>
                    <input type="number" class="form-control" name="phonecode" id="field_phonecode"
                           formControlName="phonecode"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
