<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-certificat-immatriculation-heading">Créer un Certificat d'Immatriculation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.certificatImmatriculation.numero" for="field_numero" [ngbTooltip]="'improApp.certificatImmatriculation.help.numero' | translate">Numéro</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.certificatImmatriculation.codeQr" for="field_codeQr">Code QR</label>
                    <input type="text" class="form-control" name="codeQr" id="field_codeQr"
                           formControlName="codeQr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.certificatImmatriculation.carnetASouche" for="field_carnetASouche">Carnet à Souche</label>
                    <select class="form-control" id="field_carnetASouche" name="carnetASouche" formControlName="carnetASoucheId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carnetASoucheOption.id" *ngFor="let carnetASoucheOption of carnetasouches; trackBy: trackById">{{ carnetASoucheOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
