<div>
    <nb-card>
        <nb-card-header>
            <h2 id="page-heading">
                <span jhiTranslate="improApp.carnetASouche.home.title">Carnets à Souches</span>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" nbButton outline shape="round" status="primary"
                        class="float-right" [routerLink]="['/carnet-a-souche/new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span>Nouveau Carnet à Souche</span>
                </button>
            </h2>
        </nb-card-header>
        <nb-card-body>
            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="text" fieldSize="tiny" nbInput status="primary" fullWidth placeholder="Rechercher"
                       [(ngModel)]="searchText" />
            </nb-form-field>

            <div class="alert alert-warning" id="no-result" *ngIf="carnetASouches?.length === 0">
                <span>Aucun carnet à Souche trouvé</span>
            </div>

            <div class="table-responsive table-striped table-hover table-bordered" id="entities" *ngIf="carnetASouches && carnetASouches.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                        <th scope="col"><span jhiTranslate="improApp.carnetASouche.numero">Numéro</span> </th>
                        <th scope="col" jhiSortBy="dateImpression"><span jhiTranslate="improApp.carnetASouche.dateImpression">Date Impression</span> <fa-icon icon="sort"></fa-icon> </th>
                        <th scope="col" *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="improApp.carnetASouche.concessionnaire">Concessionnaire</span> </th>
                        <th scope="col"><span>Livraison</span> </th>
                        <th scope="col"><span jhiTranslate="improApp.carnetASouche.typeCarnet">Type de Carnet</span> </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <tr *ngFor="let carnetASouche of carnetASouches | carnetFilter:searchText">
                        <td>{{ carnetASouche.numero }}</td>
                        <td>{{ carnetASouche.dateImpression.locale("fr").format("LLLL")  }}</td>
                        <td>
                            <div *ngIf="carnetASouche.concessionnaireId">
                                <a [routerLink]="['/organisation', carnetASouche.concessionnaireId , 'view']" >{{ carnetASouche.organisationDTO.nom }}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="carnetASouche.livraisonCarnetSoucheId">
                                <a [routerLink]="['/livraison-carnet-souche', carnetASouche.livraisonCarnetSoucheId , 'view']" >
                                    {{ carnetASouche.livraisonCarnetSoucheDTO.dateLivraison }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="carnetASouche.typeCarnetId">
                                <a [routerLink]="['/type-carnet', carnetASouche.typeCarnetId , 'view']" >{{ carnetASouche.typeCarnetDTO.libelle }}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" nbButton status="info" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'view']">
                                    <fa-icon icon="eye"></fa-icon>
                                </button>

                                <button type="submit"nbButton status="primary" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'edit']">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                </button>

<!--                                <button type="submit" (click)="delete(carnetASouche)"-->
<!--                                        nbButton status="danger" shape="round" outline size="tiny">-->
<!--                                    <fa-icon icon="times"></fa-icon>-->
<!--                                    <span class="d-none d-md-inline"></span>-->
<!--                                </button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *jhiHasAnyAuthority="'CONCESSIONNAIRE'">
                        <tr *ngFor="let carnetASouche of carnetASouches | carnetFilter:searchText">
                        <td>{{ carnetASouche.numero }}</td>
                        <td>{{ carnetASouche.dateImpression.locale("fr").format("LLLL") }}</td>
                        <!--<td>
                            <div *ngIf="carnetASouche.concessionnaireId">
                                <a [routerLink]="['/organisation', carnetASouche.concessionnaireId , 'view']" >{{ carnetASouche.concessionnaireId }}</a>
                            </div>
                        </td>-->
                            <td>
                                <div *ngIf="carnetASouche.livraisonCarnetSoucheId">
                                    <a [routerLink]="['/livraison-carnet-souche', carnetASouche.livraisonCarnetSoucheId , 'view']" >
                                        {{ carnetASouche.livraisonCarnetSoucheDTO.dateLivraison }}
                                    </a>
                                </div>
                            </td>
                        <td>
                            <div *ngIf="carnetASouche.typeCarnetId">
                                <a [routerLink]="['/type-carnet', carnetASouche.typeCarnetId , 'view']" >{{ carnetASouche.typeCarnetDTO.libelle }}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" nbButton status="info" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'view']">
                                    <fa-icon icon="eye"></fa-icon>
                                </button>
                                <!--<button type="submit"nbButton status="primary" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'edit']">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                </button>-->

<!--                                <button type="submit" (click)="delete(carnetASouche)"-->
<!--                                        nbButton status="danger" shape="round" outline size="tiny">-->
<!--                                    <fa-icon icon="times"></fa-icon>-->
<!--                                    <span class="d-none d-md-inline"></span>-->
<!--                                </button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *jhiHasAnyAuthority="'STHGUICHET'">
                        <tr *ngFor="let carnetASouche of carnetASouches | carnetFilter:searchText">
                        <td>{{ carnetASouche.numero }}</td>
                        <td>{{ carnetASouche.dateImpression.locale("fr").format("LLLL") }}</td>
                        <!--<td>
                            <div *ngIf="carnetASouche.concessionnaireId">
                                <a [routerLink]="['/organisation', carnetASouche.concessionnaireId , 'view']" >{{ carnetASouche.concessionnaireId }}</a>
                            </div>
                        </td>-->
                            <td>
                                <div *ngIf="carnetASouche.livraisonCarnetSoucheId">
                                    <a [routerLink]="['/livraison-carnet-souche', carnetASouche.livraisonCarnetSoucheId , 'view']" >
                                        {{ carnetASouche.livraisonCarnetSoucheDTO.dateLivraison }}
                                    </a>
                                </div>
                            </td>
                        <td>
                            <div *ngIf="carnetASouche.typeCarnetId">
                                <a [routerLink]="['/type-carnet', carnetASouche.typeCarnetId , 'view']" >{{ carnetASouche.typeCarnetDTO.libelle }}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" nbButton status="info" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'view']">
                                    <fa-icon icon="eye"></fa-icon>
                                </button>
                                <!--<button type="submit"nbButton status="primary" shape="round" outline size="tiny"
                                        [routerLink]="['/carnet-a-souche', carnetASouche.id, 'edit']">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                </button>-->

<!--                                <button type="submit" (click)="delete(carnetASouche)"-->
<!--                                        nbButton status="danger" shape="round" outline size="tiny">-->
<!--                                    <fa-icon icon="times"></fa-icon>-->
<!--                                    <span class="d-none d-md-inline"></span>-->
<!--                                </button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div *ngIf="carnetASouches && carnetASouches.length > 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>

                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</div>
