<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeCarnet">
            <h2><span jhiTranslate="improApp.typeCarnet.detail.title">Type Carnet</span> {{ typeCarnet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="improApp.typeCarnet.code" [ngbTooltip]="'improApp.typeCarnet.help.code' | translate">Code</span></dt>
                <dd>
                    <span>{{ typeCarnet.code }}</span>
                </dd>
                <dt><span jhiTranslate="improApp.typeCarnet.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeCarnet.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="improApp.typeCarnet.quantiteCertificat">Quantite Certificat</span></dt>
                <dd>
                    <span>{{ typeCarnet.quantiteCertificat }}</span>
                </dd>
                <dt><span jhiTranslate="improApp.typeCarnet.typeVehicule">Type Vehicule</span></dt>
                <dd>
                    <div *ngIf="typeCarnet.typeVehiculeId">
                        <a [routerLink]="['/type-vehicule', typeCarnet.typeVehiculeId, 'view']">{{ typeCarnet.typeVehiculeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-carnet', typeCarnet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
