<div>
    <h2 id="page-heading">
        <span jhiTranslate="improApp.infoCommandeVehicule.home.title">Infos-Commandes de Véhicules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-info-commande-vehicule" [routerLink]="['/info-commande-vehicule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="improApp.infoCommandeVehicule.home.createLabel">
            Créer une Info-Commande de Véhicules
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="infoCommandeVehicules?.length === 0">
        <span>Aucune info-Commande de Véhicules trouvée</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="infoCommandeVehicules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroCommande"><span jhiTranslate="improApp.infoCommandeVehicule.numeroCommande">Numéro Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCommande"><span jhiTranslate="improApp.infoCommandeVehicule.dateCommande">Date Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantiteCommande"><span jhiTranslate="improApp.infoCommandeVehicule.quantiteCommande">Quantite Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commandeVehiculeId"><span jhiTranslate="improApp.infoCommandeVehicule.commandeVehicule">Commande Véhicule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="marqueVehiculeId"><span jhiTranslate="improApp.infoCommandeVehicule.marqueVehicule">Marque Véhicule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoCommandeVehicule of infoCommandeVehicules ;trackBy: trackId">
                    <td><a [routerLink]="['/info-commande-vehicule', infoCommandeVehicule.id, 'view']">{{ infoCommandeVehicule.id }}</a></td>
                    <td>{{ infoCommandeVehicule.numeroCommande }}</td>
                    <td>{{ infoCommandeVehicule.dateCommande | date:'medium' }}</td>
                    <td>{{ infoCommandeVehicule.quantiteCommande }}</td>
                    <td>
                        <div *ngIf="infoCommandeVehicule.commandeVehiculeId">
                            <a [routerLink]="['/commande-vehicule', infoCommandeVehicule.commandeVehiculeId , 'view']" >{{ infoCommandeVehicule.commandeVehiculeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="infoCommandeVehicule.marqueVehiculeId">
                            <a [routerLink]="['/marque-vehicule', infoCommandeVehicule.marqueVehiculeId , 'view']" >{{ infoCommandeVehicule.marqueVehiculeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/info-commande-vehicule', infoCommandeVehicule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/info-commande-vehicule', infoCommandeVehicule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(infoCommandeVehicule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="infoCommandeVehicules?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
