<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-info-commande-vehicule-heading" jhiTranslate="improApp.infoCommandeVehicule.home.createOrEditLabel">Créer ou éditer une Info-Commande de Véhicule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.infoCommandeVehicule.numeroCommande" for="field_numeroCommande" [ngbTooltip]="'improApp.infoCommandeVehicule.help.numeroCommande' | translate">Numéro Commande</label>
                    <input type="text" class="form-control" name="numeroCommande" id="field_numeroCommande"
                           formControlName="numeroCommande"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.infoCommandeVehicule.dateCommande" for="field_dateCommande">Date Commande</label>
                    <div class="d-flex">
                        <input id="field_dateCommande" type="datetime-local" class="form-control" name="dateCommande" formControlName="dateCommande" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.infoCommandeVehicule.quantiteCommande" for="field_quantiteCommande">Quantité Commande</label>
                    <input type="number" class="form-control" name="quantiteCommande" id="field_quantiteCommande"
                           formControlName="quantiteCommande"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.infoCommandeVehicule.commandeVehicule" for="field_commandeVehicule">Commande Véhicule</label>
                    <select class="form-control" id="field_commandeVehicule" name="commandeVehicule" formControlName="commandeVehiculeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commandeVehiculeOption.id" *ngFor="let commandeVehiculeOption of commandevehicules; trackBy: trackById">{{ commandeVehiculeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.infoCommandeVehicule.marqueVehicule" for="field_marqueVehicule">Marque Véhicule</label>
                    <select class="form-control" id="field_marqueVehicule" name="marqueVehicule" formControlName="marqueVehiculeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="marqueVehiculeOption.id" *ngFor="let marqueVehiculeOption of marquevehicules; trackBy: trackById">{{ marqueVehiculeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
