<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeActeur">
            <h2><span jhiTranslate="improApp.typeActeur.detail.title">Type Acteur</span> {{ typeActeur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="improApp.typeActeur.nom">Nom</span></dt>
                <dd>
                    <span>{{ typeActeur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="improApp.typeActeur.description">Description</span></dt>
                <dd>
                    <span>{{ typeActeur.description }}</span>
                </dd>
                <dt><span jhiTranslate="improApp.typeActeur.typeOrganisations">Type Organisations</span></dt>
                <dd>
                    <span *ngFor="let typeOrganisations of typeActeur.typeOrganisations; let last = last">
                        <a [routerLink]="['/type-organisation', typeOrganisations?.id, 'view']">{{ typeOrganisations.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-acteur', typeActeur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
