<nb-card>
    <nb-card-header>
        <h2 id="page-heading">
            <span jhiTranslate="improApp.typeActeur.home.title">Type Acteurs</span>

            <button id="jh-create-entity" nbButton status="primary" outline shape="round"
                    class="float-right jh-create-entity create-type-acteur" (click)="open()">
                <fa-icon icon="plus"></fa-icon>
                <span  jhiTranslate="improApp.typeActeur.home.createLabel">
            Create a new Type Acteur
            </span>
            </button>
        </h2>
    </nb-card-header>

    <nb-card-body>
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input type="text" fieldSize="tiny" nbInput status="primary" fullWidth placeholder="Rechercher"
                   [(ngModel)]="searchText" />
        </nb-form-field>

        <div class="alert alert-warning" id="no-result" *ngIf="typeActeurs?.length === 0">
            <span jhiTranslate="improApp.typeActeur.home.notFound">No typeActeurs found</span>
        </div>

        <div class="table-responsive table-striped table-hover table-bordered" id="entities" *ngIf="typeActeurs?.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span> </th>
                    <th scope="col"><span jhiTranslate="improApp.typeActeur.nom">Nom</span> </th>
                    <th scope="col"><span jhiTranslate="improApp.typeActeur.description">Description</span> </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let typeActeur of typeActeurs | acteurFilter:searchText">
                    <td><a [routerLink]="['/type-acteur', typeActeur.id, 'view']">{{ typeActeur.id }}</a></td>
                    <td>{{ typeActeur.nom }}</td>
                    <td>{{ typeActeur.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" nbButton shape="round" size="tiny" outline status="info"
                                    [routerLink]="['/type-acteur', typeActeur.id, 'view']">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit" nbButton shape="round" size="tiny" outline status="primary"
                                    (click)="edit(typeActeur)">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit" (click)="delete(typeActeur)"
                                    nbButton shape="round" size="tiny" outline status="danger">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <div *ngIf="typeActeurs?.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
