<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-log-activity-heading" jhiTranslate="improApp.logActivity.home.createOrEditLabel">Create or edit a Log Activity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.logActivity.principal" for="field_principal">Principal</label>
                    <input type="text" class="form-control" name="principal" id="field_principal"
                           formControlName="principal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.logActivity.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.logActivity.action" for="field_action">Action</label>
                    <input type="text" class="form-control" name="action" id="field_action"
                           formControlName="action"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.logActivity.ip" for="field_ip">Ip</label>
                    <input type="text" class="form-control" name="ip" id="field_ip"
                           formControlName="ip"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="improApp.logActivity.dateAction" for="field_dateAction">Date Action</label>
                    <div class="d-flex">
                        <input id="field_dateAction" type="datetime-local" class="form-control" name="dateAction" formControlName="dateAction" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
